@page "/upload-document"
<div class="input-container" style="width: 650px; margin-left: auto; margin-right: auto;">
    <HorizonFileUpload @ref="fileUpload" 
                       AllowedFileTypes="allowedTypes" 
                       OnChange="HandleFileChange" />
    <div class="input-container" style="margin-left: auto; margin-right: auto; padding-top: 20px;">
        <HorizonButton OnClick="SubmitFiles">Save</HorizonButton>
    </div>
</div>

@code {
    private HorizonFileUpload fileUpload;
    private List<IBrowserFile> uploadedFiles = new List<IBrowserFile>(); // Declare the property for uploaded files
    
    private string[] allowedTypes = new string[] { "image/png", "image/jpeg", "image/gif", "image/tiff" };

    
    
    private void HandleFileChange(List<IBrowserFile> files)
    {
        uploadedFiles = files;
    }
    
    private async Task SubmitFiles()
    {
        if (uploadedFiles != null && uploadedFiles.Any())
        {
            foreach (var file in uploadedFiles)
            {
                // The file was uploaded successfully, you can continue with the submission
                Console.WriteLine(file.Name);
                //Console.WriteLine(file.ContentType);
            }
        }
    }
}