@namespace UteamUP.Client.Components.Inputs
@inherits InputBase<string>

<div class="input-container">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label class="form-label">@Label</label>
    }

    <BSInput InputType="InputType.Select" @bind-Value="CurrentValue">
        <option disabled selected value="">Select</option>

        @foreach (var option in Options)
        {
            <option value="@option.Value">@option.Key</option>
        }
    </BSInput>

    <ValidationMessage For="ValueExpression" />
</div>

@code {
    private int _iconSize = 20;

    [Parameter]
    public Icon Icon { get; set; }

    [Parameter]
    public string Placeholder { get; set; }

    [Parameter]
    public IDictionary<string, string> Options { get; set; }

    [Parameter]
    public string Label { get; set; }

    protected override bool TryParseValueFromString(string value, [MaybeNullWhen(false)] out string result, [NotNullWhen(false)] out string validationErrorMessage)
    {
        result = value;
        validationErrorMessage = null;
        return true;
    }
}
