.input-container {
  margin-bottom: 30px;

  .input-chip-wrapper {
    background: #f4f2ef;
    border: 0.75px solid rgba(0, 0, 0, 0.08);
    padding: 13px 16px;
    border-radius: 8px;

    .root {
      border: 0;
      margin: 0;
      display: inline-flex;
      padding: 0;
      position: relative;
      min-width: 0;
      vertical-align: top;
      gap: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;

      .chip {
        margin: 0;
        height: 41px;
        padding: 10px;
        background: #f6e5d8;
        border-radius: 6px;
        color: #f37221;
        font-size: 14px;
        font-weight: 400;
      }

      input {
        background: none;
        border: none;
        flex: 1;

        &:focus {
          outline: none;
        }
      }
    }
  }
}
