@page "/create-tags"

@using UteamUP.Client.Wizard.ActivateUser.Forms
@using UteamUP.Client.Web.Repository.Interfaces
@using UteamUP.Client.Components.Enums

@inject ITagWebRepository TagWebRepository

<div class="container">
    <HorizonChipInput Label="Tags" @bind-Value="_tagNames"/>
    <HorizonButton Appearance="ButtonAppearance.Primary" OnClick="OnClickSubmitButtonAsync">Submit</HorizonButton>
</div>

@code {
    
    private List<string> _tagNames = new();
    private List<TagDto> _tags = new();

    AddNewTagForm _model = new AddNewTagForm();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private async Task OnClickSubmitButtonAsync()
    {
    // Update _tags with the _tagNames
        foreach (var tagName in _tagNames)
        {
            _tags.Add(new TagDto() { Name = tagName });
        }

    // Save create the plan and redirect to global page
        var results = await TagWebRepository.CreateManyAsync(_tags);
    }

}