.panel-root {
    display: flex;
    overflow: auto;
    flex-direction: row;
    background-color: #e5e5e5;
    width: 100%;

    .bg-gray {
        background-color: #e5e5e5;
    }

    .panel-container {
        padding: 33px;
        width: 100%;
        min-height: 900px;
        background-color: #e5e5e5;

        .form-wrapper {
            margin-top: 11px;
            padding: 30px;
            background-color: #fff;
            border-radius: 10px;

            .form-title {
                margin-bottom: 40px;
                font-weight: 600;
                font-size: 21px;
                color: #231f20;
            }

            .formik-title {
                margin-bottom: 40px;
                font-weight: 600;
                font-size: 19px;
                color: #231f20;
            }
        }
    }

    @media only screen and (max-width: 768px) {
        .panel-container {
            padding: 24px;
        }
    }
}

// modal
.modal-dialog {
    max-width: 833px;

    .form-title {
        margin-bottom: 40px;
        font-weight: 600;
        font-size: 21px;
        color: #231f20;
    }

    .formik-title {
        margin-bottom: 40px;
        font-weight: 600;
        font-size: 19px;
        color: #231f20;
    }

    .formik-label {
        display: block;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 8px;
    }

    .workorder-modal--send-email input {
        max-width: 288px;
        height: 45px;
        margin: 0;
        padding: 12.5px 32px;
        font-weight: 600;
        background-color: #fff;
        border: 1px solid #c0c0c0;
        border-radius: 5px 0px 0px 5px;
    }

    .email-button {
        height: 45px;
        background-color: #206bb5;
        color: #fff;
        line-height: 20px;
        padding: 12.5px 32px;
    }

    .header-modal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 40px;
    }

    .title-modal {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
    }

    .title-modal svg {
        width: 25px;
        height: 25px;
        object-fit: contain;
        margin-inline: 10px;
        cursor: pointer;
    }

    .btn-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .btn-outline-primary {
        border: 1px solid #2b357f;
        color: "#2b357f";
        padding: 8px 13px;
        margin-inline: 5px;
        border-radius: 5px;
        background-color: #ffff;
    }

    .btn-outline-primary b {
        color: #2b357f;
        margin-inline: 10px;
        font-weight: 400px;
        font-size: 12px;
    }

    .btn-outline-delete {
        border: none;
        padding: 9px 5px;
        width: 100px;
        margin-inline: 5px;
        border-radius: 5px;
        background-color: #ff0606;
    }

    .btn-outline-delete b {
        color: white;
        margin-inline: 10px;
        font-weight: 200px;
        font-size: 12px;
    }

    .btn-outline-primary:hover {
        background-color: #e5e5e5;
        border-color: white;
    }

    .rowACJC {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .description {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }

    .ab {
        width: 25%;
    }

    .bc {
        width: 70%;

        .status {
            padding: 4px 10px;
            background: rgba(13, 175, 75, 0.13);
            border-radius: 6px;
        }
    }

    .title-item {
        font-size: 16px;
        font-weight: 500;
        color: #aaa;
        line-height: 24px;
    }

    .email-link {
        color: #206bb5;
        text-decoration: underline;
    }

    .link-upgrade {
        color: #f7ad1a;
        margin-left: 15px;
        text-decoration-color: #f7ad1a;
    }

    .link-upgrade :hover {
        color: #f7ad1a;
        text-decoration-color: #f7ad1a;
    }

    .modal-divider {
        border-top: 3px dashed rgba(0, 0, 0, 0.13);
    }
}

.modal-body {
    padding: 50px;
}

.form-buttons-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/*  tab  */
.nav-tabs {
    background-color: white;
    padding-left: 30px;
    margin: 0;
    flex-wrap: nowrap;
    overflow: auto;
}

.nav-tabs .nav-link {
    border: none;
    font-size: 15px;
    font-weight: 500;
    color: #231f20;
    opacity: 0.7;
    padding: 0px 0px 14px 0px;
    margin: 0px 36px 0px 0px;
    width: max-content;
    text-transform: capitalize;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-bottom: 2px solid #2b357f;
    color: #2b357f;
    font-size: 15px;
    font-weight: 600;
    opacity: 1;
}

.gap-x-20 {
    gap: 0 20px;
}

@media only screen and (max-width: 1400px) {
    .panel-root {
        flex-direction: column;
        padding-top: 85px;
    }
}

@media only screen and (max-width: 900px) {
    .modal-body {
        padding: 28px 23px;
    }

    .modal-dialog .header-modal {
        padding: 28px 23px;
    }

    .modal-dialog {
        margin: 0;
    }

    .formik-title {
        font-size: 16px;
    }

    .form-buttons-wrapper {
        display: flex;
        justify-content: center;

        button {
            width: 100%;
        }
    }

    .width-40px {
        width: 40px !important;
    }

    .rowACJC {
        justify-content: space-between;
        align-items: center;

        .ab {
            width: 50%;

            * {
                font-size: 13px;
            }
        }

        .bc {
            width: 50%;

            * {
                font-size: 13px;
            }
        }
    }

    .modal-dialog .description {
        font-size: 13px;
    }
}
