@page "/creation"
<AuthorizeView>
    <Authorized>
        <div style="width: 800px; margin-left: auto; margin-right: auto;">
            <div style="margin-left: auto; margin-right: auto; align-content: center; text-align: center; padding-top: 40px;">
                <div style="margin-right: auto; margin-left: auto;">
                    <div>
                        <label class="input-container">
                            Navigation
                        </label>
                    </div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <div style="padding-right: 20px;">
                            <a href="/" type="button" class="btn btn-warning" style="width: 150px; margin: auto;">Back</a>
                        </div>
                        <div>
                            <a href="/swagger/index.html" type="button" class="btn btn-secondary" style="width: 150px; margin: auto;">Swagger</a>
                        </div>
                    </div>
                    <div>
                        <label class="input-container">
                            User Creation Tasks
                        </label>
                    </div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <div style="padding: 10px">
                            <a href="/create-workorder" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Create Workorder</a>
                        </div>
                        <div style="padding: 10px">
                            <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Create Asset</a>
                        </div>
                        <div style="padding: 10px">
                            <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Create Part</a>
                        </div>
                    </div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <div style="padding: 10px">
                            <a href="/create-vendor" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Create Vendor</a>
                        </div>
                        <div style="padding: 10px">
                            <a href="/create-location" type="button" class="btn btn-success" style="width: 150px; margin: auto;">Create Location</a>
                        </div>
                        <div style="padding: 10px">
                            <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Create Stock</a>
                        </div>
                    </div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <div style="padding: 10px">
                            <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Create Tool</a>
                        </div>
                        <div style="padding: 10px">
                            <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Create Category</a>
                        </div>
                    </div>
                    <div>
                        <label class="input-container">
                            Global Administrative Tasks
                        </label>
                    </div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">

                        <div style="padding: 10px">
                            <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Manage Plans</a>
                        </div>
                        <div style="padding: 10px">
                            <a href="/global" type="button" class="btn btn-primary" style="width: 150px; margin: auto;">Manage All Users</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
</AuthorizeView>

@code {

}