@page "/"

@inject CustomAuthenticationStateProvider CustomAuthStateProvider

<div style="width: 800px; margin-left: auto; margin-right: auto;">
    <div style="margin-left: auto; margin-right: auto; align-content: center; text-align: center; padding-top: 40px;">
        <a href="/global" type="button" class="btn btn-primary" style="width: 240px;">Global</a>
    </div>
    <br />
    <div style="margin-left: auto; margin-right: auto; align-content: center; text-align: center;">
    @if(UserState.User != null)
    {
        <p>Welcome @UserState.User.Name to development board.</p>
    }
    else
    {
        <p>Loading...</p>
    }
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        var authState = await CustomAuthStateProvider.GetAuthenticationStateAsync();

        if (authState.User.Identity.IsAuthenticated)
        {
            await CustomAuthStateProvider.UpdateAppStateWithUserAsync(authState.User);
        }
        CustomAuthStateProvider.OnGlobalStateChanged += RefreshPage;

    }
    
    private void RefreshPage()
    {
        StateHasChanged();
    }
}