.action-search-button-wrapper {
  ::deep .dropdown-toggle {
  }

  ::deep .action-btn--content {
    img {
      width: 28px;
      height: 28px;
    }
  }

  ::deep .show.dropdown-menu-container {
    background-color: #231f20;
    width: 226px;
    border-radius: 0px 10px 10px 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 320px;
    overflow-y: auto;

    .dropdown-menu--input {
      margin: 0 auto;
      padding: 10px;

      .input-container {
        margin-bottom: 0px;
      }

      input {
        background-color: #231f20;
        color: #fff;
        padding-left: 42px;
        max-width: 206px;
        height: 43px;
        opacity: 0.8;
        border: 1px solid #ffffff;
        border-radius: 6px;
      }
    }

    .dropdown-item {
      padding: 0px 10px;
      display: flex;
      align-items: center;
      gap: 36px;

      svg {
        color: #fff;
      }

      &:hover {
        color: unset;
        background-color: unset;
      }

      &.selected {
        background-color: #393536;
      }

      .dropdown-menu--input {
        align-self: center;
        position: relative;
        margin-bottom: 10px !important;
      }

      .dropdown-menu--item {
        display: inline-block;
        align-items: center;
        color: white;
        font-size: 15px;
        font-weight: 400;
        align-items: center;
        padding: 23px 0px;
        cursor: pointer;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        white-space: nowrap;

        img {
          width: 28px;
          height: 28px;
          margin-right: 10px;
        }
      }
    }
  }
}
