@using UteamUP.Client.Web.TableComponents.Location.Modals
@using UteamUP.Shared.Models Location


@inject NavigationManager NavigationManager
@inject IModalService ModalService

<div class="main-container">
    <HorizonTable EnableGrouping TableItem="Location" Items="@Locations">
        <HorizonColumn Title="Aa Name" Field="@(x => x.Name)" TableItem="Location" />
        <HorizonColumn Title="Description" Field="@(x => x.Description)" TableItem="Location" />

    </HorizonTable>
</div>

@code {
    [Parameter]
    public List<Location> Locations { get; set; }

    private async Task HandleDeleteModalAsync(Location location)
    {
        ModalService.Show<DeleteConfirmationModal>(string.Empty);
    }

    private async Task HandleDetailModalAsync(Location location)
    {
        var modalParams = new ModalParameters();
        modalParams.Add("Id", location.Id);

        await ModalService.Show<LocationDetailsModal>(string.Empty, modalParams, new()
        {
            Size = ModalSize.Large
        }).Result;
    }

    private void HandleEditLocation(Location location) => NavigationManager.NavigateTo($"location-edit/{location.Id}");

    
}
