.status-pill {
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  gap: 4px;
  align-items: center;

  &.active {
    background: rgba(13, 175, 75, 0.13);
  }

  &.inactive {
    background-color: red;
  }
}
